
:root {
  --primary-bg-color: black;
  --secondary-bg-color : #0D0D0D;
  --primary-txt-color: white; 
  --nav-bg-color : black;
  --tmdb-color : #01d277;
  --main-padding: 15px; 
}

.App {
  /* width: 100vw; */
  min-height: 100vh;
  background-color: var(--primary-bg-color);
}

.AppNav {
  min-height: 58px;
  background-color: var(--nav-bg-color);
  color: var(--primary-txt-color)
}

.search-input {
  background-color: var(--nav-bg-color) !important;
  color: var(--primary-txt-color);
  border-radius: 500rem !important;
  border: 1px solid var(--tmdb-color);
  text-align: left;
  line-height: 1.21428571em;
  padding: .67857143em 1em;
}

.search-input::placeholder {
  color: var(--primary-txt-color);
}

.search-input-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:#0D0D0D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
